#container {
    background-color: rgb(241, 240, 240);
    box-shadow: 1px 1px 2px 1px;
    border: 1px gainsboro;
    border-radius: 10px;
    width: 85vw;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
}

h1 {
    text-align: center;
}

#task-form {
    width: 100%;
    display: flex;
    gap: 10px;
}

#task-form > input {
    width: 100%;
    border-radius: 5px;
}


#filter {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#filter > button {
    padding: 8px 10px;
}

#clear {
    display: flex;
    justify-content: center;
}

#clear > button {
    padding: 5px;
    background-color: red;
    color: white;
}

.active {
    background-color: rgba(6, 199, 6, 0.877);
    color: white;
}

.todo {
    border: 1px solid gainsboro;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: 2px 0;
}